<div class="about row">
  <div class="col-md-6">
    <img class="portrait" src="assets/maryland.jpg" />
  </div>
  <div class="col-md-6 about-text">
    <p class="about-me">ABOUT ME</p>
    <h1 class="title">Why hire me?</h1>
    <p class="description">
      As an engineering team member, I am incredibly active in product
      development, feature development, and culture. My goal is to absorb
      everything I can learn from a job experience. As a teacher, I taught and
      exercised self-teaching practices, which has helped me become a quick
      study. Addicted to new challenges, I love to work independently and
      collaboratively to tackle complex coding problems. Outside of my full-time
      job, I have entrepreneurial interests and I actively mentor previous
      students and colleagues.
    </p>

    <div class="row">
      <div class="col-md-8 email-div">
        <a href="mailto:melmacd94@gmail.com">
          <img class="icon email" src="assets/001-email.png" />
        </a>
        <p class="email-text">melmacd94@gmail.com</p>
      </div>

      <div class="icons-div col-md-4">
        <div class="icon-div">
          <a href="https://github.com/mmacdonald1">
            <img class="icon" src="assets/002-github-sign.png" />
          </a>
        </div>
        <div class="icon-div">
          <a href="https://www.linkedin.com/in/melanie-macdonald1/">
            <img class="icon" src="assets/003-linkedin.png" />
          </a>
        </div>
      </div>
    </div>

    <a
      class="button"
      download="Melanie_MacDonald_Resume_2022"
      target="_blank"
      href="assets/Melanie_MacDonald_Resume_2022.pdf"
    >
      Download Resume
    </a>
  </div>
</div>
