<div class="skills">
  <h1 class="title">My Skills</h1>
  <div class="row skills-row">
    <div class="col-md-4 skill-cell">
      <h4>Languages:</h4>
      <ul>
        <li>JavaScript - Primary Language</li>
        <li>TypeScript</li>
        <li>Python</li>
        <li>Java</li>
        <li>Ruby</li>
        <li>HTML/CSS</li>
      </ul>
    </div>
    <div class="col-md-4 skill-cell">
      <h4>Frontend Frameworks:</h4>
      <ul>
        <li>React</li>
        <li>Angular.io</li>
        <li>Angular.js</li>
        <li>Preact</li>
        <li>Ruby on Rails</li>
      </ul>
    </div>
    <div class="col-md-4 skill-cell">
      <h4>Frontend Stores:</h4>
      <ul>
        <li>Redux</li>
        <li>Mobx-State-Tree</li>
      </ul>
    </div>
    <div class="col-md-4 skill-cell">
      <h4>Frontend Libraries:</h4>
      <ul>
        <li>jQuery</li>
        <li>Chart.js</li>
        <li>D3.js</li>
        <li>Mapbox</li>
      </ul>
    </div>
    <div class="col-md-4 skill-cell">
      <h4>Backend Frameworks:</h4>
      <ul>
        <li>Nest.js</li>
        <li>Express</li>
        <li>Spring Boot</li>
        <li>Ruby on Rails</li>
      </ul>
    </div>
    <div class="col-md-4 skill-cell">
      <h4>Databases:</h4>
      <ul>
        <li>PostgreSQL</li>
        <li>MongoDB</li>
        <li>Oracle</li>
      </ul>
    </div>
  </div>
</div>
